.head{
    display: flex;
    justify-content: space-around;
}

.back{
    position: relative;
    z-index: 2;
}

input{
    width: 100%;
}

ul{
    display: none;
}

body{
    padding: 0;
    margin: 0;;
}

canvas{
    position: relative;
    z-index: 1;
    background-color: whitesmoke;
}