

.head{
    display: flex;
    justify-content: space-around;
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
    display: none;

}

.neck{
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}

.js-form{
    display: flex;
    justify-content: center;
}


.back{

}

input{
    position: absolute;
    top:25%;
    width: 60%;
    height: 4rem;
    box-shadow: 0px 10px 62px -11px rgba(0, 0, 0, 0.87);
    font-size: 2rem;
    border:0;
    outline: 0;
    color:white;
    background-color: rgba(0, 0, 0, 0.692);
}

.back{
    width: 100%;
}

.hidden{
    display: none;
}

input::placeholder{
    color:white;
}

ul{
    display: none;
}

body{
    padding: 0;
    margin: 0;;
}

canvas{
    background-color: whitesmoke;
}